@media (min-width: 1025px) {
   #content .story-tablet-section {
      display: none;
   }
   #nav li:hover {
      transform: scale(1.3);
   }
   #nav .subnav li {
      padding: 5px;
   }
   #nav .subnav li:hover {
      transform: scale(1);
   }
   #nav li a:hover {
      color: rgb(255, 166, 0);
   }
   #nav .search-btn:hover {
      transform: scale(1.4);
      color: rgb(255, 166, 0);
   }
   #nav li:hover .subnav {
      display:block;
   }
}
/* max width being 1024px is for tablet and mobile */
@media (min-width: 740px) and (max-width: 1024px) {
   #nav .banner {
      display: none;
   }
   #content .story-section {
      display: none;
   }
   #nav li:hover .subnav {
      display: block;
   }
}
@media (max-width: 740px) {
   .mobile-menu {
      display: block;
   }
   #header .lan i {
      display: block;
   }
   #header h3 {
      display: none;
   }
   #header .title {
      padding: 0;
   }
   #header h1 {
      /* font-style: italic; */
      font-size: 13px;
   }
   #nav {
      overflow: hidden;
   }
   #nav .subnav {
      position: initial;
      background: none;
      line-height: 3;
      width: 100%;
   }
   #nav li:hover .subnav {
      display:block;
   }
   #nav .subnav a {
      padding-left: 10px;
   }
   #nav .nav-list {
      display: block;
      padding: 10px;
   }
   #nav .search-btn {
      display: none;
   }
   #nav .nav-list .storyMobile {
      display: inline-block;
      width: 85%;
   }
   #nav .nav-list > li {
      display: block;
      width: 100%;
      line-height: 3;
   }
   #nav li a {
      padding-right: 75%;
   }
   #nav li:active {
      background: rgba(0, 0, 0, 0.75);
   }
   #nav #menu-btn {
      display: inline-block;
   }
   #content .story-section {
      display: none;
   }
   #content .story-tablet-section img {
      padding: 20px 100px;
   }
   #content .des-section .des-item {
      width: 100%;
   }
   #content .des-section .des {
      padding: 0;
      margin: 0;
   }
   #content .des-section .title {
      padding-bottom: 0;
   }
   #content .contact-section {
      display: none;
   }
   #content .contact-section-mobile {
      font-size: 14px;
      display: block;
   }
   #nav .nav-list .storyNormal {
      display: none;
   }
   #nav .nav-list .storyMobile {
      display: inline-block;
   }
   #nav .nav-list .contactMobile {
      display: inline-block;
   }
   #nav .nav-list .contactNormal {
      display: none;
   }
}
